.container{
	width: 1175px;
}

.row.equal {
	display: flex;
	flex-wrap: wrap;

	&.vertical-bottom{
		align-items: flex-end;
	}
}

@media (max-width: 1216px){
	.container {
		width: 100%;
	}
}

@media (min-width: 768px){
	
}

@media (max-width: 767px){
	
}