@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');
// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik', sans-serif;
html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #eeeeee;
	color: $ik_color_black;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.wrapper{
	width: 100%;
    min-height: 100%;
    padding-bottom: 157px;
    margin-bottom: -157px;
    background: #eeeeee;
}

.section-title{
	@include responsive-font(4vw, 16px, 30px);
	line-height: 32px;
    text-align: center;
    font-weight: bolder;
	text-transform: uppercase;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 3.8px;
	
	> .text{
		display: inline-block;
		position: relative;

		&::before,
		&::after{
			content: ' ';
			width: 10px;
			height: 10px;
			background: #a6ce39;
			@include border-radius(50%);
			position: absolute;
			top: 50%;
			margin-top: -5px;
		}

		&::before{
			left: -30px;
		}
		
		&::after{
			right: -30px;			
		}
	}

}

header.header-player{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	height: 70px;
	background: $ik_color_nblack;

	#header_player-element{
		display: none;
	}

	.plyr{
		
		&.plyr--audio{
			
			.plyr__title-xs{
				color: #fefefe;
				font-size: 12px;
				line-height: 14px;
				height: 22px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 4px 0;
				display: none;
			}

			.plyr__controls {
				padding: 18px 0px;
				@include border-radius(none);
				background: transparent;
				border: none;
				color: $ik_color_green_light;

				.plyr__title{
					position: absolute;
					top: -16px;
					font-size: 14px;
					line-height: 18px;
					color: #fefefe;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					width: 100%;
					text-align: left;
				}

				.plyr__icon_play,
				.plyr__icon_pause{
					font-size: 30px;
					line-height: 30px;
					padding: 2px;
				}

				.plyr__volume{
					max-width: 230px;
				}
			}

			.plyr__progress--buffer, 
			.plyr__progress--played, 
			.plyr__volume--display{
				height: 5px;
				margin: -2.5px 0 0;
				background: rgba(128, 139, 144, 0.5);
				color: rgba(128, 139, 144, 0.5);
				@include border-radius(2.5px);

				span{
					background: rgba(128, 139, 144, 0.5);
				}
			}

			.plyr__progress--played, 
			.plyr__volume--display{
				color: $ik_color_green_light;
			}
		}
	}
}

header.header-wr{
	padding-top: 70px;
	width: 100%;
	background: $ik_color_black;

	.header-navbar{

		.navbar-ik{
			margin-top: 30px;
			margin-bottom: 30px;
			border: 0;
			min-height: auto;
			
			.navbar-ik-logo{
				background: url('images/logo.png') no-repeat 0 center;
				background-size: contain;
				padding: 0;
				width: 232px;
				height: 78px;
				display: inline-block;
			}

			.navbar-ik-links{
				list-style: none;
				margin: 0;
				padding: 0;
				float: right;

				>li{
					float: left;

					>a.navbar-ik-link{
						font-size: 16px;
						font-weight: 700;
						text-transform: uppercase;
						font-family: 'Rubik', sans-serif;
						color: #ffffff;
						line-height: 78px;
						padding: 0 15px;
						margin-right: 18px;
						position: relative;
						text-decoration: none;
						@include transition(color 0.5s ease);

						&::before{
							content: '';
							display: none;
							width: 5px;
							height: 5px;
							background: $ik_color_green_light;
							@include border-radius(50%);
							position: absolute;
							top: 50%;
							margin-top: -2.5px;
							left: 0px;
						}

						&:hover{
							background: transparent;
							color: $ik_color_green_light;

							&::before{
								display: inline-block;
							}
						}
						
						&:focus{
							background: transparent;
						}
					}

					&.active{
						
						>a.navbar-ik-link{
							color: $ik_color_green_light;

							&::before{
								display: inline-block;
							}
						}
					}

					&:last-child{

						>a.navbar-ik-link{
							margin-right: 15px;
						}
					}
				}
			}

			.navbar-ik-langs{
				list-style: none;
				margin: 0;
				padding: 0;
				float: right;

				&.on-mobile{
					display:none;
				}

				>li{
					float: left;

					>a.navbar-ik-menu{
						font-size: 14px;
						font-weight: 500;
						text-transform: uppercase;
						font-family: 'Rubik', sans-serif;
						background: $ik_color_nblack;
						color: $ik_color_green_light;
						line-height: 40px;
						position: relative;
						text-decoration: none;
						width: 40px;
						height: 40px;
						padding: 0 10px;
						display: inline-block;
						margin: 0px 0px 0px 5px;
						text-align: center;
						border: 2px solid $ik_color_green_light;
						@include border-radius(5px);
						@include transition(background 0.5s ease, color 0.5s ease);

						&:hover{
							background: $ik_color_green_light;
							color: $ik_color_nblack;
						}
					}

					>a.navbar-ik-lang{
						font-size: 14px;
						font-weight: 500;
						text-transform: uppercase;
						font-family: 'Rubik', sans-serif;
						background: $ik_color_nblack;
						color: $ik_color_green_light;
						line-height: 40px;
						position: relative;
						text-decoration: none;
						width: 40px;
						height: 40px;
						padding: 0 10px;
						display: inline-block;
						margin: 20px 0px 20px 5px;
						text-align: center;
						border: 2px solid $ik_color_green_light;
						@include border-radius(5px);
						@include transition(background 0.5s ease, color 0.5s ease);

						&:hover{
							background: $ik_color_green_light;
							color: $ik_color_nblack;
						}
					}

					&.active{
						
						>a.navbar-ik-lang{
							background: $ik_color_green_light;
							color: $ik_color_nblack;
						}
					}
				}
			}
		}
	}
}

section#home-carousel-slider{
	width: 100%;
	background: $ik_color_black;
	padding-bottom: 80px;

	.carousel-3d-container{
		margin: 0;

		.carousel-3d-slider{

			.carousel-3d-slide{
				@include border-radius(10px !important);
				border: 0;

				figcaption {
					background-color: rgba(0, 0, 0, 0.5);
					color: #fff;
					position: absolute;
					bottom: 0;
					padding: 15px 170px 15px 15px;
					font-size: 12px;
					min-width: 100%;
					box-sizing: border-box;
					display: none;
		
					.title{
						font-size: 16px;
						line-height: 16px;
					}
		
					.text{
						font-style: italic;
					}

					.play{
						position: absolute;
						right: 30px;
						top: 50%;
						margin-top: -16px;
						line-height: 32px;
						height: 32px;
						color: $ik_color_green_light;

						.ik{
							font-size: 28px;
							line-height: 32px;
							float: left;

							&::before{
								content: "\e905";
								color: #a6ce39;
							}
						}

						span{
							font-size: 16px;
							line-height: 28px;
							display: block;
							float: left;
							margin-left: 5px;
						}

						&.playing{

							.ik{

								&::before{
									content: "\e901";
								}
							}
						}
					}
				}

				&.current{
					figcaption{
						display: block;
					}
				}
			}
		}

		.carousel-3d-controls{
			max-width: 1175px;
			margin: auto;
			top: 0px;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;

			.prev,
			.next{
				margin-top: -30px;

				span{
					font-family: 'ik';
					font-size: 56px;
					color: $ik_color_green_light;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 60px;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}

			.prev{
				left: -30px;

				span{					

					&:before {
						content: "\e907";
					}
				}
			}
			
			.next{
				right: -30px;

				span{
					
					&:before {
						content: "\e906";
					}
				}
			}
		}
	}
}

section.services{
	padding: 80px 0px 0px 0px;
	background: #eeeeee;

	.section-title{
		margin-bottom: 5px;
	}

	.service{
		margin-top: 25px;

		.icon{
			height: 120px;
			width: 100%;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			margin-bottom: 24px;
		}

		.title{
			text-align: center;
			font-weight: 900;
			font-size: 20px;
			font-family: 'Rubik', sans-serif;
			margin-bottom: 50px;
		}

		.text{
			text-align: center;
			font-size: 14px;
		}

	}
}

section.projects{
	padding: 80px 0px 0px 0px;
	background: #eeeeee;
	
	.section-title{
		margin-bottom: 30px;
	}

	.projects-counter{
		margin: 0px auto 55px;
    	text-align: center;

		.projects-counter-wr{
			margin: 0 auto;
			background-color: $ik_color_green_light;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			text-align: center;
			height: 50px;
			line-height: 50px;
			padding: 0 10px;
			display: inline-block;
			position: relative;

			&::before,
			&::after{
				content: "";
				background-repeat: no-repeat;
				background-position: 0 0;
				display: block;
				position: absolute;
				width: 12px;
				height: 50px;
				top: 0;
				bottom: 0;
			}

			&::before{
				background-image: url('images/projects-counter-left.png');
				left: -12px;
			}

			&::after{
				background-image: url('images/projects-counter-right.png');
				right: -12px;
			}

			.counter{
				font-size: 30px;
				line-height: 50px;
				font-weight: 900;
				font-family: 'Rubik', sans-serif;
				display: block;
				float: left;
				width: 55px;
			}

			.text{
				color: $ik_color_black_light;
				font-style: italic;
				float: right;
				font-size: 20px;
				margin-left: 10px;
			}
		}
	}

	.portfolio-wr{

		.thumbs{
			margin-left: -45px;
			margin-right: -45px;

			.thumbnail{
				position: relative;
				border:0;

				.play-audio,
				.play-video{
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0, 0, 0, 0.7);
					font-family: 'ik';

					&::before{
						content: "\e905";
						color: $ik_color_green_light;
						position: absolute;
						font-size: 40px;
						height: 40px;
						line-height: 40px;
						top: 50%;
						left: 50%;
						margin-top: -20px;
						margin-left: -20px;
					}
				}

				.play-audio{
					
					&::before{
						margin-top: -40px;
					}
				}
				
				.play-title-text{
					position: absolute;
					display: none;
					width: 100%;
					text-align: center;
					padding: 0 15px;
					left: 0;
					top: 50%;
					margin-top: 10px;
					color: #ffffff;
					font-weight: 400;
					font-size: 16px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.play-category-text{
					position: absolute;
					display: none;
					width: 100%;
					text-align: center;
					padding: 0 15px;
					left: 0;
					top: 50%;
					margin-top: 30px;
					color: #ffffff;
					font-weight: 100;
					font-size: 14px;
					font-style: italic;
				}

				&:hover{

					.play-audio,
					.play-title-text,
					.play-category-text,
					.play-video{
						display: block;
					}
				}

				&.playing{

					.play-title-text,
					.play-category-text,
					.play-audio{
						display: block;
					}

					.play-audio{

						&::before{
							content: "\e901";
						}
					}
				}
				
				&.no-play{
					
					.play-title-text{
						margin-top: -11px;
					}

					.play-category-text{
						margin-top: 11px;
					}

					.play-audio{

						&::before{
							display: none;
						}
					}
				}
			}

			&.video_projects{

				.video-item{
					height: 285px !important;

					.play-video-btn{
						display: none;
					}

					.thumbnail{
						
						.play-video{
		
							&::before{
								content: "\e910";
								color: #ffffff;
								position: absolute;
								font-size: 68px;
								height: 68px;
								line-height: 68px;
								top: 50%;
								left: 50%;
								margin-top: -50px;
								margin-left: -34px;
							}
						}

						.play-text{
							display: none;
							position: absolute;
							top: 50%;
							text-align: center;
							width: 100%;
							margin-top: 26px;
							font-size: 18px;
							font-weight: 900;
							color: #ffffff;
						}

						&:hover{
							
							.play-text{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

section.clients{
	padding: 80px 0px;
	background: #ffffff;

	.section-title{
		margin-bottom: 30px;
	}
	
	#home-clients-slider{

		> div{
			text-align: center;
			z-index: 1;

			img{
				margin: 0 auto;
			}
		}

		.slick-prev,
		.slick-next{
			font-family: 'ik';
			font-size: 56px;
			color: $ik_color_gray;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 60px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			top: 50%;
			margin-top: -30px;
			text-decoration: none;
			z-index: 2;
		}

		.slick-prev{
			left: 0;

			&::before{
				content: "\e907";
			}
		}

		.slick-next{
			right: 0;

			&::before{
				content: "\e906";
			}
		}
	}
}

section.content-wr{
	padding: 80px 0px;
	background: #eeeeee;
	
	article.article-post-wr{
		background: #ffffff;
		padding: 40px 65px 60px 65px;
	
		.article-date{
			font-size: 16px;
			color: $ik_color_gray;
			width: 100%;
			float: left;
	
			span{
				float: left;
				line-height: 18px;
				height: 18px;
			}
	
			.ik-calendar{
				font-size: 18px;
				margin-right: 10px;
			}
		}
	
		.article-title{
			padding: 15px 0;
			width: 100%;
			float: left;
	
			h1{
				@include responsive-font(4vw, 20px, 36px);
				font-family: 'Rubik', sans-serif;
				font-weight: 900;
				margin: 0;
				padding: 0;
			}
		}
	
		.article-text{
	
			img{
				max-width: 100% !important;
				height: auto !important;
			}

			iframe{
				max-width: 100% !important;
				border: 0;
			}
	
			&.article-padding{
				padding-right: 380px;
			}
		}

		.article-share{
			margin-top: 20px;

			.share-list{
				list-style: none;
				padding: 0;
				margin: 0;

				.share-list_item{
					display: block;
					float: left;
					margin-left: 5px;

					.share-list_item-link{
						display: block;
						background: $ik_color_black;
						height: 22px;
						line-height: 22px;
						min-width: auto;
						transition: none;
						@include transition(opacity 0.5s ease);
						@include border-radius(11px);
						padding: 0 10px;
						text-decoration: none;

						.share-list_item-link-icon{
							color: #ffffff;
							float: left;
							height: 22px;
							line-height: 22px;
							margin-right: 5px;
							font-size: 14px;
						}
						
						.share-list_item-link-text{
							color: #ffffff;
							float: left;
							height: 22px;
							line-height: 22px;
							font-weight: 500;
							font-size: 12px;
						}

						&:hover{
							opacity: .8;
						}
					}
				}
			}
		}

		.article-audio{
			width: 320px;
			position: absolute;
			right: 15px;
			top: 0;
			bottom: 0;
			height: 100%;

			.article-audio-stick{
				width: 100%;

				.article-audio-scroll{
					height: 100%;
					width: 100%;
					padding-right: 15px;
			
					ul.article-playlist{
						list-style: none;
						margin: 0;
						padding: 0;
						float: left;
						width: 100%;
			
						> li{
							display: block;
							float: left;
							width: 100%;
			
							> a{
								font-size: 16px;
								line-height: 30px;
								display: block;
								width: 100%;
								float: left;
								padding: 10px 0;
								border-bottom: 1px solid #eeeeee;
								background: #ffffff;
								color: $ik_color_black;
								text-decoration: none;
								@include transition(color 0.5s ease);
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
			
								.ik{
									font-size: 30px;
									line-height: 30px;
									width: 32px;
									text-align: center;
									float: left;
									margin-right: 10px;
									color: $ik_color_green_light;
									@include transition(color 0.5s ease);
								}

								
	
								&.playing{
						
									.ik{				
										&::before{
											content: "\e901";
										}
									}
								}
			
								&:hover{
									color: $ik_color_black_light;
			
									.ik{
										color: $ik_color_green;
									}
								}
							}
			
							&:last-child{
								
								> a{
									border-bottom: 0px solid #eeeeee;
								}	
							}
						}
					}
				}

				.scrollbox-wrapper{
					
					.scrollbox-rail{
						background-color: #eeeeee !important;
						width: 10px !important;
						@include border-radius(5px);
						opacity: 1 !important;
					}

					.scrollbox-bar{
						width: 6px !important;
						margin: 2px !important;
						@include border-radius(3px);
						background-color: $ik_color_green_light !important;
					}
				}
			}
			
	
		}
	}
	
	.blogs-wr{
		width: 100%;
		float: left;
		
		.blogs-list{
			margin-top: -30px;
			
			.first-blog{
				margin-top: 30px;
				height: 400px;

				.first-blog-link{
					display: block;
					width: 100%;
					height: 100%;
					background: #ffffff;
					text-decoration: none;
					overflow: hidden;
					position: relative;
					@include border-radius(8px);

					.blog-image{
						display: block;
						height: 400px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						position: relative;
						margin-bottom: 10px;
					}

					.blog-title{
						font-size: 20px;
						line-height: 22px;
						font-weight: 600;
						font-family: 'Rubik', sans-serif;
						padding: 0px 15px;
						display: block;
						color: $ik_color_black;
						text-decoration: none;
						max-height: 44px;
						overflow: hidden;
						margin-bottom: 10px;
						margin-top: 25px;
					}

					.blog-description{
						font-size: 14px;
						line-height: 16px;
						font-family: 'Rubik', sans-serif;
						padding: 0 15px;
						display: block;
						color: $ik_color_black;
						text-decoration: none;
						max-height: 64px;
						overflow: hidden;
					}

					.blog-date{
						font-size: 14px;
						display: block;
						padding: 5px 15px;
						color: $ik_color_gray;
						width: 100%;
						float: left;
						margin-top: 10px;
						margin-bottom: 10px;
				
						span{
							float: left;
							line-height: 19px;
							height: 18px;
						}
				
						.ik-calendar{
							font-size: 18px;
							line-height: 18px;
							margin-right: 10px;
						}
					}

					&:hover{
						text-decoration: none;

						.blog-title{
							color: $ik_color_green;
							text-decoration: none;
						}
					}
				}

			}

			.blog-item{
				margin-top: 30px;
				height: 400px;

				.blog-link{
					display: block;
					width: 100%;
					height: 100%;
					background: #ffffff;
					text-decoration: none;
					padding-bottom: 40px;
					overflow: hidden;
					position: relative;
					@include border-radius(8px);

					.blog-image{
						display: block;
						width: 100%;
						height: 225px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						position: relative;
						margin-bottom: 10px;
					}

					.blog-title{
						font-size: 20px;
						line-height: 22px;
						font-weight: 600;
						font-family: 'Rubik', sans-serif;
						padding: 0px 15px;
						display: block;
						color: $ik_color_black;
						text-decoration: none;
						max-height: 44px;
						overflow: hidden;
						margin-bottom: 10px;
					}

					.blog-description{
						font-size: 14px;
						line-height: 16px;
						font-family: 'Rubik', sans-serif;
						padding: 0 15px;
						display: block;
						color: $ik_color_black;
						text-decoration: none;
						max-height: 64px;
						overflow: hidden;
					}

					.blog-date{
						font-size: 14px;
						display: block;
						padding: 5px 15px;
						color: $ik_color_gray;
						width: 100%;
						float: left;
						position: absolute;
						bottom: 10px;
				
						span{
							float: left;
							line-height: 19px;
							height: 18px;
						}
				
						.ik-calendar{
							font-size: 18px;
							line-height: 18px;
							margin-right: 10px;
						}
					}

					&:hover{
						text-decoration: none;

						.blog-title{
							color: $ik_color_green;
							text-decoration: none;
						}
					}
				}

			}
		}
	}

	.portfolio-wr{
		width: 100%;
		float: left;
		
		.properties-wr{
			float: left;
			width: 100%;
			margin-top: -30px;

			.property-wr{
				margin-top: 23px;

				.property-label{
					@include responsive-font(2vw, 12px, 18px);
					font-weight: 900;
					font-family: 'Rubik', sans-serif;
					text-transform: uppercase;
				}

				.property-form-element{
					position: relative;

					.dropdown{

						.dropdown-toggle{
							height: 40px;
							text-align: left;
							border: 0;
							@include border-radius(5px);
							background: #ffffff;
							font-weight: 600;
							text-transform: uppercase;

							&:focus{
								outline: none;
							}

							&:active,
							&.active{
								box-shadow: none;
							}
						}

						.dropdown-menu{
							width: 100%;
							border: 0;
							@include border-radius(5px);
							padding: 0;

							>li{

								>a{
									line-height: 40px;
									padding: 0px 12px;
									height: 40px;
									vertical-align: middle;
									font-size: 14px;
									font-weight: 600;

									&:hover{
										background: $ik_color_green_light;
										color: #ffffff;
									}
								}

								&:first-child{

									>a{
										@include border-radius(5px 5px 0px 0px);
									}
								}

								&:last-child{

									>a{
										
										@include border-radius(0px 0px 5px 5px);
									}
								}
							}
						}
					}
				}

				.clear-filters{
					margin-top: 48px;
					display: block;
					line-height: 46px;
					height: 40px;
					font-size: 24px;
					color: $ik_color_gray;
					text-decoration: none;
					outline: none;

					&:focus{
						outline: none;
					}

					&:hover,
					&.active{
						color: $ik_color_black;
						text-decoration: none;
					}
				}
			}
		}
		
		.portfolio-list{
			float: left;
			width: 100%;

			.portfolio-item{
				margin-top: 30px;
				height: 165px;

				.item-image{
					display: block;
					width: 100%;
					height: 100%;
					@include border-radius(10px);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
					cursor: pointer;
					
					.play-audio{
						display: none;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: rgba(0,0,0,0.7);
						font-family: 'ik';
						@include border-radius(10px);

						&::before{
							content: "\e905";
							color: $ik_color_green_light;
							position: absolute;
							font-size: 40px;
							height: 40px;
							line-height: 40px;
							top: 50%;
							left: 50%;
							margin-top: -40px;
							margin-left: -20px;
						}
					}
					
					.play-title-text{
						position: absolute;
						display: none;
						width: 100%;
						text-align: center;
						padding: 0 15px;
						left: 0;
						top: 50%;
						margin-top: 10px;
						color: #ffffff;
						font-weight: 400;
						font-size: 16px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
	
					.play-category-text{
						position: absolute;
						display: none;
						width: 100%;
						text-align: center;
						padding: 0 15px;
						left: 0;
						top: 50%;
						margin-top: 30px;
						color: #ffffff;
						font-weight: 100;
						font-size: 14px;
						font-style: italic;
					}
	
					&:hover{
	
						.play-audio,
						.play-title-text,
						.play-category-text{
							display: block;
						}
					}
	
					&.playing{
	
						.play-title-text,
						.play-category-text,
						.play-audio{
							display: block;
						}
	
						.play-audio{
	
							&::before{
								content: "\e901";
							}
						}
					}
					
					&.no-play{
						
						.play-title-text{
							margin-top: -11px;
						}
	
						.play-category-text{
							margin-top: 11px;
						}
	
						.play-audio{
	
							&::before{
								display: none;
							}
						}
					}
				}
			}
		}
	}
	
	.video-wr{
		width: 100%;
		float: left;
		
		.categories-wr{
			width: 100%;
			float: left;
			margin-top: -8px;

			.category-item{
				float: left;
				margin-right: 8px;
				height: 50px;
				line-height: 30px;
				font-size: 18px;
				font-weight: 900;
				font-family: 'Rubik', sans-serif;
				text-transform: uppercase;
				padding: 10px 30px;
				margin-top: 8px;
				border: 0;
				background: #ffffff;
				@include border-radius(5px);

				&:focus{
					outline: none;
				}

				&:hover,
				&:active,
				&.active{
					outline: none;
					box-shadow: none;
					background: $ik_color_green_light;
				}
			}
		}

		.video-list{

			.video-item{
				margin-top: 30px;
				height: 400px;

				.video-link{
					display: block;
					width: 100%;
					height: 100%;
					background: #ffffff;
					text-decoration: none;
					padding-bottom: 40px;
					overflow: hidden;
					position: relative;
					@include border-radius(10px);
					cursor: pointer;

					.video-image{
						display: block;
						width: 100%;
						height: 225px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						position: relative;
						margin-bottom: 10px;
						position: relative;

						.play-video{
							display: none;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: rgba(0,0,0,0.7);
							font-family: 'ik';
	
							&::before{
								content: "\e905";
								color: $ik_color_green_light;
								position: absolute;
								font-size: 64px;
								height: 64px;
								line-height: 64px;
								top: 50%;
								left: 50%;
								margin-top: -32px;
								margin-left: -32px;
							}
						}
					}

					.video-title{
						font-size: 20px;
						line-height: 22px;
						font-weight: 600;
						font-family: 'Rubik', sans-serif;
						padding: 0px 15px;
						display: block;
						color: $ik_color_black;
						text-decoration: none;
						max-height: 44px;
						overflow: hidden;
						margin-bottom: 10px;
					}

					.video-description{
						font-size: 14px;
						line-height: 16px;
						font-family: 'Rubik', sans-serif;
						padding: 0 15px;
						display: block;
						color: $ik_color_black;
						text-decoration: none;
						max-height: 64px;
						overflow: hidden;
					}

					&:hover{
						text-decoration: none;

						.video-title{
							color: $ik_color_green;
							text-decoration: none;
						}
						
						.video-image{
							
							.play-video{
								display: block;
							}

							&.playing{
			
								.play-video{
									display: block;
			
									&::before{
										content: "\e901";
									}
								}
							}
						}
		
					}
				}

				.play-video-btn{
					display: none;
				}
			}
		}
	}

	.page-wr{
		display: block;
		float: left;
		width: 100%;

		&.contacts-page{
			background: #ffffff;
			@include border-radius(8px);
			overflow: hidden;

			.page-header{
				padding-bottom: 0px;
				margin: 0px 0px 55px 0px;
				border: 0;
				width: 100%;
				float: left;

				img{
					width: 100%;
					height: auto;
				}
			}

			.page-inside-wr{
				border: 0;
				width: 100%;
				float: left;
				padding: 0 15px;

				.page-text{
					padding: 0 55px;
					color: $ik_color_nblack;
					font-weight: 600;
					font-size: 15px;
					line-height: 24px;
	
					.list{
						list-style: none;
						margin: 30px 0px 0px;
						padding: 0;
	
						li{
							padding-left: 40px;
							position: relative;
							margin-bottom: 45px;
	
							&::before{
								content: " ";
								width: 10px;
								height: 10px;
								background: $ik_color_green_light;
								display: block;
								position: absolute;
								left: 0;
								top: 50%;
								margin-top: -5px;
								border-radius: 50%;
							}
	
							div{							
								height: 60px;
							}
	
							.text{
								font-size: 18px;
								font-weight: 500;
								display: table-cell;
								vertical-align: middle;
							}
		
							.images{
								text-align: center;
								
								.image{
									display: inline-block;
									margin: 0 auto;
									width: 65px;
									height: 60px;
									display: table-cell;
									vertical-align: middle;

									img{
										width: auto;
										height: auto;
										max-width: 100%;
										max-height: 100%;
									}
	
									// &.image-wwise{
									// 	background-image: url(images/wwise.png);
									// }
	
									// &.image-fmod{
									// 	background-image: url(images/fmod.png);
									// }
	
									// &.image-unity{
									// 	background-image: url(images/unity.png);
									// }
	
									// &.image-unreal{
									// 	background-image: url(images/unreal.png);
									// }
								}
							}
						}
	
					}
				}
	
				.contacts-block{
					margin-right: 55px;

					.contacts-header{
						display: block;
						width: 100%;
						float: left;
						margin-bottom: 15px;
						font-size: 24px;
						font-weight: 900;
						text-transform: uppercase;
					}
	
					.contacts-wr{
						display: block;
						width: 100%;
						float: left;
						padding: 30px;
						background: $ik_color_green_light;
						@include border-radius(10px);

						.contact-wr{
							display: block;
							width: 100%;
							float: left;
							margin-bottom: 25px;
							position: relative;
							padding-left: 40px;
							color:$ik_color_black;
							
							.ik{
								font-size: 20px;
								line-height: 20px;
								position: absolute;
								left: 0;
							}

							.contact-item{
								font-weight: 500;
								font-size: 18px;
								line-height: 20px;
								display: inline-block;
							}

						}

						.divider{
							display: block;
							width: 100%;
							float: left;
							height: 0;
							border-bottom: 1px solid $ik_color_black_light;
							margin-top: 15px;
							margin-bottom: 20px;
						}

						.social-wr{
							text-align: left;
							margin-top: 20px;
							display: block;
							width: 100%;
							float: left;

							.social_link{
								color: $ik_color_black;
								text-decoration: none;
								font-size: 40px;
								line-height: 40px;
								height: 40px;
								display: inline-block;
								margin-right: 10px;

								&:last-child{
									margin-right: 0;
								}
							}
						}
					}
				}
			}

		}
	}

	#list-pagination-wr{
		width: 100%;
		float: left;
		padding: 0;
		margin-top: 60px;
		margin-bottom: -20px;

		.pagination{
			float: right;
			margin: 0;

			>li{
				margin-right: 5px;
				float: left;
				
				>a{
					border: 0;
					@include border-radius(10px);
					height: 30px;
					line-height: 30px;
					padding: 0 10px;
					color: $ik_color_black;
					background: #ffffff;

					&.next,
					&.prev{
						background: transparent;
					}
					
					.ik{
						display: inline-block;
						line-height: 30px;
						font-weight: bold;
					}
				}

				>span{
					border: 0;
					@include border-radius(10px);
					height: 30px;
					line-height: 30px;
					padding: 0 10px;
					color: #ffffff;
					background: $ik_color_black;

					&.next,
					&.prev{
						background: transparent;
					}

					.ik{
						display: inline-block;
						line-height: 30px;
						font-weight: bold;
					}
				}

				&.active{

					>span{
						color: $ik_color_green_light;
						background: $ik_color_black;
					}
				}

				&.disabled{

					>span{
						color: $ik_color_black;
						background: $ik_color_gray_ligh;

						&.ellipse{
							cursor: default;
						}

						&.next,
						&.prev{
							background: transparent;
							color: $ik_color_gray_ligh;
						}
					}
				}

				&>*{
					font-size: 16px !important;
				}
			}
		}
	}
}

.error{

	&__404{
		display: flex;
		flex-direction: column;
		max-width: 770px;
		width: 100%;
		margin: 50px auto;
		background: #f4f3ee;
		padding: 35px;

		.h1-title{
			display: flex;
			flex-direction: row;
			align-items: center;
			
			.icon{
				font-size: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
				width: 50px;
				padding: 13px;
				border: 2px solid #e1e1e1;
				border: 2px solid $ik_color_gray;
				border-radius: 50%;
				margin-right: 20px;
			}
		}

		&-message{
			margin: 0;
			color: $ik_color_gray;

			a{
				color: $ik_color_green_light;
				text-decoration: none;
			}
		}
	}

	&__no-data{
		display: flex;
		flex-direction: column;
		max-width: 770px;
		width: 100%;
		margin: 0px auto;
		background: #f4f3ee;
		padding: 35px;

		&-message{
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 1.1rem;
			
			.icon{
				font-size: 20px;
				display: flex;
				align-items: center;
				text-align: center;
				height: 50px;
				width: 50px;
				padding: 13px;
				border: 2px solid #e1e1e1;
				border: 2px solid $ik_color_gray;
				border-radius: 50%;
				margin-right: 20px;

				.fai{
					color: $ik_color_green_light;
				}
			}
		}
	}
}

footer{
	padding: 40px 0px;
	background: $ik_color_black;

	.site_name{
		color:#ffffff;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 14px;
	}

	.contacts-wr{
		margin-top: 20px;
		
		.contact_email{
			color:$ik_color_green_light;
			font-size: 14px;
			line-height: 20px;
			display: block;
			text-decoration: none;
		}
	}

	.social-wr{
		text-align: right;
		margin-top: 20px;

		.social_link{
			color:$ik_color_green_light;
			color: #a6ce39;
			text-decoration: none;
			font-size: 40px;
			line-height: 40px;
			height: 40px;
			display: inline-block;
			margin-left: 10px;
	
			&:first-child{
				margin-left: 0px;
			}
		}
	}

}


@media (max-width: $screen-xs-max) {
	.section-title{
		font-size: 24px;
	}

	header.header-player{
		height: 54px; 

		.plyr{
			
			&.plyr--audio{

				.plyr__title-xs{
					display: block;
				}

				.plyr__controls {
					padding: 0;

					.plyr__title{
						display: none;
					}

					.plyr__icon_play,
					.plyr__icon_pause{
						font-size: 24px;
						line-height: 24px;
					}
				}
			}
		}
	}

	header.header-wr{
		padding-top: 54px;
	}

	section.projects{

		.projects-counter{

			.projects-counter-wr{

				.counter{
					font-size: 24px;
				}
	
				.text{
					font-size: 16px;
				}
			}
		}
	}

	section.content-wr{
		.blogs-wr{
			.blogs-list{
				.first-blog{
					height: auto;
				}
			}
		}

		.video-wr{

			.categories-wr{
				margin-bottom: 5px;

				.category-item{
					height: 40px;
					line-height: 20px;
					font-size: 10px;
					font-weight: 600;
					padding: 10px 10px;
				}
			}
		}
	}

	footer{
	
		.social-wr{
			text-align: left;
		}
	
	}
}

@media (max-width: 1240px) {
	section.projects{
	
		.portfolio-wr{
			.container{
				width: 100% !important;
				padding: 0;

				.row{
					margin: 0;

					.col-xs-12{
						padding: 0;
					}
				}
			}

			.thumbs{
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}	
}

@media (max-width: 1000px) {
	header.header-player{
		
		.plyr{

			&.plyr--audio{

				.plyr__controls{

					.plyr__volume{
						max-width: 180px
					}
				}
			}
		} 
	}

	header.header-wr{
	
		.header-navbar{
			
			.navbar-ik{
				margin-top: 5px;
				margin-bottom: 5px;

				.navbar-ik-logo{
					width: 125px;
					height: 40px;
				}

				.navbar-ik-langs{
					display: none;

					&.on-mobile{
						display: block;

						.dropdown{

							.dropdown-menu{
								background-color: $ik_color_black;
								
								li{
									
									a{
										padding: 10px 20px;
										color: $ik_color_green_light;
										background: none;
	
										&:hover{
											color: $ik_color_black;
											background-color: $ik_color_green_light;
										}
									}								
	
									&.active{
										a{
											color: $ik_color_black;
											background-color: $ik_color_green_light;
										}	
									}
								}
							}						

							&.lang-dropdown{
								
								.dropdown-menu{
									background-color: $ik_color_black;
									margin: 1px 0 0;
									padding: 0;
									border: 0;
									min-width: 40px;
									@include border-radius(5px);
	
									li{
										@include border-radius(5px);
										
										a{
											padding: 0 10px;
											width: 40px;
											line-height: 40px;
											text-align: center;
											height: 40px;
											color: $ik_color_green_light;
											background: none;
											@include border-radius(5px);
		
											&:hover{
												color: $ik_color_black;
												background-color: $ik_color_green_light;
											}
										}								
		
										&.active{
											a{
												color: $ik_color_black;
												background-color: $ik_color_green_light;
											}	
										}
									}
								}
							}
						}
					}
										
					> li{

						> a.navbar-ik-lang{
							margin: 0px 0px 0px 5px;
						}
					}
				}

				.navbar-ik-links{
					display: none;
				}
			}
		} 
	}
	
	section.content-wr{

		article.article-post-wr{
			padding-left: 20px;
			padding-right: 20px;
	
			.article-text{
	
				&.article-padding{
					padding-right: 0px;
				}
			}
	
			.article-audio{
				width: 100%;
				margin-top: 15px;
				position: relative;
				left: auto;
				right: auto;
				bottom: auto;
				height: auto;
				float: left;

				.article-audio-stick{
					float: left;
					width: 100%;
					height: 100% !important;

					.article-audio-scroll{
						float: left;
						width: 100%;
					}
				}
			}
		}
		
		.page-wr{
			margin: 15px 0;

			&.contacts-page{

				.page-header{
					margin: 0px 0px 15px 0px;
				}

				.page-inside-wr{

					.page-text{
						padding: 0;
	
						.list{
	
							li{
								div{							
									height: auto;
								}
			
								.images{
									margin-top: 10px;
			
								}
							}
	
						}
					}
					.contacts-block{
						margin-right: 0;
						width: 100%;
						float: left;
						margin-bottom: 15px;

						.contacts-wr{
							padding: 15px;

							.contact-wr{
								margin-bottom: 10px;
								padding-left: 30px;

								.contact-item{
									font-size: 15px;
									line-height: 20px;
								}
							}

							.social-wr{
								text-align: center;
								margin-top: 5px;
							}
						}
					}
				}
			}
		}
	}

}

@media (max-width:480px) {
	header.header-player{

		.plyr{

			&.plyr--audio{

				.plyr__controls{

					.plyr__volume{
						display: block;
						max-width: 60px
					}
				}
			}
		} 
	}
	
	section.content-wr{

		article.article-post-wr{
			padding-left: 10px;
			padding-right: 10px;
	
			.article-text{
	
				&.article-padding{
					padding-right: 0px;
				}
			}

			.article-share{

				.share-list{

					.share-list_item{

						.share-list_item-link{
							height: 42px;
							width: 42px;
							padding: 10px;
							@include border-radius(21px);
							text-align: center;

							.share-list_item-link-icon{
								margin-right: 0px;
								float: none;
							}
							
							.share-list_item-link-text{
								display: none;
							}
						}
					}
				}
			}
	
			.article-audio{
				width: 100%;
				margin-top: 15px;
				position: relative;
				left: auto;
				right: auto;
				bottom: auto;
				height: auto;
				float: left;

				.article-audio-stick{
					float: left;
					width: 100%;

					.article-audio-scroll{
						float: left;
						width: 100%;
					}
				}
			}
		} 
	}
	
	section.services{

		.service{

			.icon{
				height: 60px;
			}
		} 
	}
}

@media (max-width:768px) {
	header.header-player{

		.plyr{

			&.plyr--audio{

				.plyr__controls{

					.plyr__volume{
						max-width: 100px
					}
				}
			}
		} 
	}
	
	section.content-wr{
		padding: 40px 0px;

		article.article-post-wr{
			padding-left: 15px;
			padding-right: 15px;
	
			.article-text{
	
				&.article-padding{
					padding-right: 0px;
				}
			}
	
			.article-audio{
				width: 100%;
				margin-top: 15px;
				position: relative;
				left: auto;
				right: auto;
				bottom: auto;
				height: auto;
				float: left;

				.article-audio-stick{
					float: left;
					width: 100%;

					.article-audio-scroll{
						float: left;
						width: 100%;
					}
				}
			}
		}

		.portfolio-wr{
			
			.properties-wr{
				
				.property-wr{
					margin-top: 15px;

					.clear-filters {
						margin-top: 15px;
					}
				}
			}
		}

		#list-pagination-wr{
			margin-top: 40px;
			margin-bottom: 0px;
		}
	}

	section#home-carousel-slider{
		padding-bottom: 0;
	}

	section.services{
		padding: 30px 0px 0px 0px;
		background: #eeeeee;
	
		.section-title{
			margin-bottom: 15px;
		}
	
		.service{
			margin-bottom: 25px;
			
			.title{
				margin-bottom: 20px;
			}
		}
	}

	section.projects{
		padding: 40px 0px 0px 0px;
	}
}

@media (min-width:992px) {
	section.content-wr{

		.page-wr{

			&.contacts-page{

				.page-inside-wr{

					.contacts-block{

						.contacts-wr{
							margin-bottom: 45px;
						}
					}
				}
			}
		}
	} 
}