@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');
// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik', sans-serif;
html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: $ik_color_black;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.wrapper{
	width: 100%;
    min-height: 100%;
    padding-bottom: 157px;
    margin-bottom: -157px;
    background: #eeeeee;
}

.section-title{
	@include responsive-font(4vw, 16px, 30px);
	line-height: 32px;
    text-align: center;
    font-weight: bolder;
	text-transform: uppercase;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 3.8px;
	
	> .text{
		display: inline-block;
		position: relative;

		&::before,
		&::after{
			content: ' ';
			width: 10px;
			height: 10px;
			background: #a6ce39;
			@include border-radius(50%);
			position: absolute;
			top: 50%;
			margin-top: -5px;
		}

		&::before{
			left: -30px;
		}
		
		&::after{
			right: -30px;			
		}
	}

}


.mce-content-body{
	padding: 0 15px;
	color: $ik_color_nblack;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;

	.list{
		list-style: none;
		margin: 30px 0px 0px;
		padding: 0;

		li{
			padding-left: 40px;
			position: relative;
			margin-bottom: 45px;

			&::before{
				content: " ";
				width: 10px;
				height: 10px;
				background: $ik_color_green_light;
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -5px;
				border-radius: 50%;
			}

			div{							
				height: 60px;
			}

			.text{
				font-size: 18px;
				font-weight: 500;
				display: table-cell;
				vertical-align: middle;
			}

			.images{
				text-align: center;
				
				.image{
					display: inline-block;
					margin: 0 auto;
					width: 65px;
					height: 60px;
					display: table-cell;
					vertical-align: middle;

					img{
						width: auto;
						height: auto;
						max-width: 100%;
						max-height: 100%;
					}

					// &.image-wwise{
					// 	background-image: url(images/wwise.png);
					// }

					// &.image-fmod{
					// 	background-image: url(images/fmod.png);
					// }

					// &.image-unity{
					// 	background-image: url(images/unity.png);
					// }

					// &.image-unreal{
					// 	background-image: url(images/unreal.png);
					// }
				}
			}
		}

	}
}