$ik_color_nblack:          #181817;
$ik_color_black:           #1d1d1b;
$ik_color_black_light:     #3c3c3c;
$ik_color_gray:            #808b90;
$ik_color_gray_ligh:       #dadada;
$ik_color_green:           #517d32;
$ik_color_green_light:     #a6ce39;
$ik_color_blue:            #e2eff5;
$ik_color_blue_light:      #f3fdff;