/*!
 * Scrollbox v4.0.0
 * (c) 2013-2017, Max Invis1ble
 * Licensed under MIT (https://opensource.org/licenses/mit-license.php)
 */
.scrollbox-wrapper {
  position: relative;
  height: 100%;
}
.scrollbox-wrapper .scrollbox-overflowed {
  overflow: hidden;
}
.scrollbox-wrapper > :first-child {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: scroll-position;
}
.scrollbox-rail,
.scrollbox-bar {
  display: none;
  position: absolute;
  z-index: 10;
}
.scrollbox-horizontal-rail,
.scrollbox-horizontal-bar {
  bottom: 0;
  left: 0;
}
.scrollbox-vertical-rail,
.scrollbox-vertical-bar {
  top: 0;
  right: 0;
}
.scrollbox-rail-in,
.scrollbox-bar-in {
  display: block;
}
.scrollbox-horizontal-bar {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: left;
}
.scrollbox-vertical-bar {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: top;
}
.scrollbox-rail {
  background-color: #000;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
  filter: alpha(opacity=3);
  -moz-opacity: 0.03;
  -khtml-opacity: 0.03;
  opacity: 0.03;
}
.scrollbox-bar {
  background-color: #e0e0e0;
}
.scrollbox-bar:hover {
  background-color: #cacaca;
}
.scrollbox-bar.scrollbox-bar-captured {
  background-color: #cacaca;
}
.scrollbox-horizontal-rail {
  height: 2px;
}
.scrollbox-vertical-rail {
  width: 2px;
}
.scrollbox-horizontal-bar {
  min-width: 2px;
  height: 2px;
}
.scrollbox-vertical-bar {
  min-height: 2px;
  width: 2px;
}
