ul.thumbs {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.thumbs li {
    display: inline-block;
    height: 175px;
    overflow: hidden;
    padding: 0;
    float: left;
    position: relative;
}

ul.thumbs li .thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
    background-color: #cecece;
    background-position-x: 50%;
	display: block;
	/*overflow: hidden;*/
    box-sizing: border-box;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	z-index: 9;
    width: 100%;
    height: 100%;
}

ul.thumbs li .thumbnail h4 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 10px;
    text-transform: uppercase;
    background-color: #efefef;
    color: #6b6b6b;
    font-size: 14px;
    margin: 0;
}

ul.thumbs li .thumbnail .description {
    padding: 0;
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    box-sizing: inherit;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    padding: 18px 12px;
    line-height: 10px;
    box-sizing: inherit;
    text-align: center;
}

ul.thumbs li .thumbnail .active-arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #fff;
    bottom: -2px;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (max-width: 970px)  {
	ul.thumbs li {
		width: 50% !important;
	}
	.media iframe{
		width: 100%;
	}
}

@media (max-width: 1200px) and (min-width: 970px) {
    ul.thumbs li {
        width: 33.3333% !important;
    }
}

ul.thumbs li .thumbnail:hover .description {
	height: 50px;
	opacity: 1;
}

ul.thumbs li.content {
	width: 100% !important;
	display: none;
	margin-bottom: 40px;
	background: none;
	float: left;
    height: 250px;
	position: relative;
	padding: 45px 0 45px;
}

ul.thumbs li.content h3 {
    display: inline-block;
}

ul.thumbs li.content .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #c2c2c2;
    cursor: pointer;
    font-weight: normal;
    font-family: -webkit-pictograph;
    font-size: 76px;
    line-height: 70px;
}

ul.thumbs li.content .close:hover {
    opacity: 0.7;
}

ul.thumbs li.content .media {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 50%;
    min-height: 200px;
}

ul.thumbs li.content .media img {
    max-width: 100%;
}

@media (max-width: 1080px) {
	.close {
		right: 0 !important;
		top: 7px !important;
	}
	ul.thumbs .media {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
@media (max-width: 590px) {
	ul.thumbs li {
		width: 100% !important;
	}
	ul.thumbs .media {
		display: none !important;
	}
}
@media (max-width: 700px) and (min-width: 590px) {
	ul.thumbs .media {
		width: 100% !important;
		display: block !important;
		margin-top: 60px;
	}
}

.portfolio-content {
    display: none;
}
