@font-face {
  font-family: 'ik';
  src:  url('fonts/ik.eot?83qr1b');
  src:  url('fonts/ik.eot?83qr1b#iefix') format('embedded-opentype'),
    url('fonts/ik.ttf?83qr1b') format('truetype'),
    url('fonts/ik.woff?83qr1b') format('woff'),
    url('fonts/ik.svg?83qr1b#ik') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ik {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ik' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ik-social-twitter:before {
  content: "\e922";
}
.ik-social-instagram:before {
  content: "\e91c";
}
.ik-social-instagram-o:before {
  content: "\e921";
}
.ik-discord:before {
  content: "\e920";
}
.ik-slack:before {
  content: "\e91d";
}
.ik-whatsapp:before {
  content: "\e91e";
}
.ik-telegram:before {
  content: "\e91f";
}
.ik-share-email:before {
  content: "\e917";
}
.ik-share-facebook:before {
  content: "\e918";
}
.ik-share-linkedin:before {
  content: "\e919";
}
.ik-share-twitter:before {
  content: "\e91a";
}
.ik-share-vk:before {
  content: "\e91b";
}
.ik-social-youtube-o:before {
  content: "\e912";
}
.ik-social-fb:before {
  content: "\e913";
}
.ik-social-soundcloud:before {
  content: "\e914";
}
.ik-social-vk:before {
  content: "\e915";
}
.ik-social-youtube:before {
  content: "\e916";
}
.ik-social-soundcloud-o:before {
  content: "\e911";
}
.ik-play-video:before {
  content: "\e910";
}
.ik-skype:before {
  content: "\e90e";
}
.ik-envelope:before {
  content: "\e90f";
}
.ik-times:before {
  content: "\e90d";
}
.ik-calendar:before {
  content: "\e90c";
}
.ik-social-vk-o:before {
  content: "\e909";
}
.ik-social-twitter-o:before {
  content: "\e90a";
}
.ik-social-fb-o:before {
  content: "\e90b";
}
.ik-menu:before {
  content: "\e908";
}
.ik-arrow-right:before {
  content: "\e906";
}
.ik-arrow-left:before {
  content: "\e907";
}
.ik-volume-down:before {
  content: "\e900";
}
.ik-volume-half:before {
  content: "\e902";
}
.ik-volume-mute:before {
  content: "\e903";
}
.ik-volume-up:before {
  content: "\e904";
}
.ik-play-circle-o:before {
  content: "\e905";
}
.ik-pause-circle-o:before {
  content: "\e901";
}
